* {
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: #ababab;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    width: 360px;
    height: 572.5px;
    
    background: #FFFFFF;
    border-radius: 20px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}




